<!--Use RegistrationViewModel template-->
@model GL_PROJ.Models.RegistrationViewModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>

<h1>Registration</h1>

<!--Display error message if recieved-->
<p>@ViewBag.Error</p>

<!--Registration form-->
<form action="/Home/Registration" method="post">
    <div>
        Username <input type="text" name="Username" value=@Model.UserName />
    </div>
    <div>
        Password <input type="text" name="Password" value=@Model.Password />
    </div>
    <div>
        <input type="submit" value="Create Account" />
    </div>
</form>

<!--Login link-->
<a href="/Home/Login">Login</a>

</body>
</html>