<div class="friendMessageSpace">
    <div class="friendMessageSpace_info">
        <div class="friendMessageSpace_info_avatar"></div>
        <div class="friendMessageSpace_info_time">22:48</div>
        <div class="friendMessageSpace_info_deliveryStatus"><i class="fas fa-spinner"></i></div>

    </div> 

<div class="friendMessageSpace_mainMessageHolder">
<div class="friendMessageSpace_mainMessageHolder_message friendMessageBackgroundColorStyle">
<div class="friendMessageSpace_mainMessageHolder_message_foatMenuHolder">
    <div class="friendMessageSpace_mainMessageHolder_message_floatMenu floatMenuStyle">
        <div class="friendMessageSpace_mainMessageHolder_message_floatMenu_addEmoji_button" href="addEmojiToEmojiReactionBar">
            <i class="fas fa-smile-wink addEmojiSmile mainIconStyle"></i>
            <i class="fas fa-plus addEmojiPlus mainIconStyle"></i>
        </div>
        <div class="friendMessageSpace_mainMessageHolder_message_floatMenu_reply_button">
            <i class="fas fa-reply mainIconStyle"></i>
        </div>
        <div class="friendMessageSpace_mainMessageHolder_message_floatMenu_other_button" >
            <i class="fas fa-ellipsis-h mainIconStyle"></i>
        </div>
    </div>
</div>
<div class="friendMessageSpace_mainMessageHolder_message_senderName" href="ref to user profile" id="">{{messageData.userId}}</div>




<div class="friendMessageSpace_mainMessageHolder_message_messageText">
{{messageData.data}}
</div>
<div class="friendMessageSpace_mainMessageHolder_message_emojiReaction">
    <i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i>
</div>
</div>
</div>
<!--       additional message           -->
<!--<div class="friendMessageSpace_additionalMessageHolder">
<div class="friendMessageSpace_additionalMessageHolder_message friendMessageBackgroundColorStyle">
<div class="friendMessageSpace_additionalMessageHolder_message_floatMenuHolder">
    <div class="friendMessageSpace_additionalMessageHolder_message_floatMenu floatMenuStyle">
        <div class="friendMessageSpace_additionalMessageHolder_message_floatMenu_addEmoji_button" href="addEmojiToEmojiReactionBar">
            <i class="fas fa-smile-wink addEmojiSmile mainIconStyle"></i>
            <i class="fas fa-plus addEmojiPlus mainIconStyle"></i>
        </div>
        <div class="friendMessageSpace_additionalMessageHolder_message_floatMenu_reply_button">
            <i class="fas fa-reply mainIconStyle"></i>
        </div>
        <div class="friendMessageSpace_additionalMessageHolder_message_floatMenu_other_button" >
            <i class="fas fa-ellipsis-h mainIconStyle"></i>
        </div>
    </div>
</div>

<div class="friendMessageSpace_additionalMessageHolder_message_textMessage">
    включая некоторые текстовые элементы  текстовые элементы) любым водителем

</div>
<div class="friendMessageSpace_additionalMessageHolder_message_emojiReaction">
    <i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i>
</div>


</div>
</div>-->
</div>