@model Message
@{
    ViewData["Title"] = "Discussion";
}
<h3>Hi @Model.UserName!</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Discuss">
            <div class="form-group">
                <textarea asp-for="Text" class="form-control" ></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="UserName" type="hidden" />
        </form>
    </div>
</div>
<hr />
@foreach(var message in ViewBag.Messages)
{
    <div><strong>@message.User.Name:</strong> @message.Text</div>
}