@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Message>

<div class="text-center">
    <h2 class="display-4">Chat</h2>
    @foreach(var message in Model)
    {
        <div>@message.Text</div>
        <div>@message.User.Name  <span>@message.When</span></div>
    }
</div>