<div class="myMessageSpace">
    <div class="myMessageSpace_info">
      <div class="myMessageSpace_info_time">22:48</div>
        <div class="myMessageSpace_info_deliveryStatus"><i class="fas fa-check"></i></div>

    </div>
  <div class="myMessageSpace_mainMessageHolder">
    <div class="myMessageSpace_mainMessageHolder_message myMessageBackgroundColorStyle">
  <div class="myMessageSpace_mainMessageHolder_message_floatMenuHolder">
      <div class="myMessageSpace_mainMessageHolder_message_floatMenu floatMenuStyle">
          <div class="myMessageSpace_mainMessageHolder_message_floatMenu_addEmoji_button" href="addEmojiToEmojiReactionBar">
              <i class="fas fa-smile-wink addEmojiSmile mainIconStyle"></i>
              <i class="fas fa-plus addEmojiPlus mainIconStyle"></i>
          </div>
          <div class="myMessageSpace_mainMessageHolder_message_floatMenu_editMessage_button">
                  <i class="fas fa-pen mainIconStyle"></i>
          </div>
          <div class="myMessageSpace_mainMessageHolder_message_floatMenu_other_button" >
              <i class="fas fa-ellipsis-h mainIconStyle"></i>
          </div>
      </div>
  </div>
      <div class="myMessageSpace_mainMessageHolder_message_messageText">
            {{messageData.data}}
      </div>
      <div class="myMessageSpace_mainMessageHolder_message_emojiReaction">
          <i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i>
      </div>
   </div>
  </div>
  <!--      additional message           -->
  <!--<div class="myMessageSpace_additionalMessageHolder">
      <div class="myMessageSpace_additionalMessageHolder_message myMessageBackgroundColorStyle">
              <div class="myMessageSpace_additionalMessageHolder_message_floatMenuHolder">
              <div class="myMessageSpace_additionalMessageHolder_message_floatMenu floatMenuStyle">
              <div class="myMessageSpace_additionalMessageHolder_message_floatMenu_addEmoji_button" href="addEmojiToEmojiReactionBar">
                  <i class="fas fa-smile-wink addEmojiSmile mainIconStyle"></i>
                  <i class="fas fa-plus addEmojiPlus mainIconStyle"></i>
              </div>
              <div class="myMessageSpace_additionalMessageHolder_message_floatMenu_editMessage_button">
                  <i class="fas fa-pen mainIconStyle"></i>
              </div>
              <div class="myMessageSpace_additionalMessageHolder_message_floatMenu_other_button" >
                  <i class="fas fa-ellipsis-h mainIconStyle"></i>
              </div>
          </div>
          </div>
          <div class="myMessageSpace_additionalMessageHolder_message_messageText">
          включая некоторые текстовые элементы) любым водителем
          </div>
          <div class="myMessageSpace_additionalMessageHolder_message_emojiReaction">
          <i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i>
          </div>
      </div>
  </div>-->
  
 </div>